.aboutMe {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: clamp(25px, 5%, 4em);
    padding-left: clamp(25px, 5%, 4em);
    padding-top: calc(8.375em + 1.1em);
    padding-bottom: 4em;
}

.aboutMe > section {
    padding-left: 0;
    padding-right: 0;
    white-space: pre-line;
    display: flex;
    flex-direction: column;
    padding-top: 0em !important;
    padding-bottom: 4em !important;
}

.status {
    margin-top: 2em;
}

.status > p:first-child {
    font-weight: bold;
}

.status > p {
    margin-top: .2em;
}

.status > p:last-child {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.pfp {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.pfp > div:first-child {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(179.96deg, rgba(48, 52, 63, 0.421) 0.03%, rgb(48, 52, 63) 80%);
}

.pfp img {
    width: clamp(300px, 70vw, 650px);
    height: auto;
}


@media screen and (min-width: 1000px) {
    .aboutMe {
        grid-template-columns: 1fr 1fr;
        padding-top: calc(8.375em + 4em);
        padding-bottom: 1em;
    }

    .aboutMe > section {
        padding-top: clamp(0em, 5vw, 8em) !important;
    }

    .pfp {
        justify-content: flex-end;
        align-items: center;
    }

    .pfp img {
        width: clamp(520px, 50vw, 700px);
    }
}
