.services-section {
    padding-top: 1em;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 4.5em 0;
}

.stack {
    text-align: center;
}

.stack-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 2.5em;
    flex: 1;
    flex-wrap: wrap;
}

.stack img {
    filter: brightness(1000%) grayscale(100%)
            opacity(0.1)
            drop-shadow(0 0 0 var(--main-color))
            drop-shadow(0 0 0 var(--main-color))
            drop-shadow(0 0 0 var(--main-color))
            drop-shadow(0 0 0 var(--main-color))
            drop-shadow(0 0 0 var(--main-color));
}

@media screen and (max-width: 768px) {
    .services {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
}