.services-section {
    padding-top: 1em;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5em;
}

@media screen and (max-width: 768px) {
    .services {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
}