.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    height: 100%;
    align-items: center;
}

.textContainer h2 {
    margin: 1em 0 0.3em;
}

.text {
    text-align: justify;
    margin-top: 1em;
}

.imageContainer {
    width: 70%;
    margin: 0 auto;
}

.stack {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}