.contactSection {
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.contactSection h1 {
    margin-bottom: .27em;
}

.contacts {
    margin-top: 2.5em;
}

.contacts > :not(:last-child) {
    margin-bottom: 1.35em;
}

.grid {
    display: grid;
    grid-template-columns: 40% 55%;
    grid-gap: 5%;
}

.description {
    white-space: pre-wrap;
}

.hide {
    opacity: 0;
    transform: translateY(80px);
}

.show {
    opacity: 1;
    transform: translateX(0);
    transition: all ease-in-out .4s;
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 100%;
    }
}