.contactSection {
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.contactSection h1 {
    margin-bottom: .27em;
}

.contactSection p {
    font-size: clamp(18px, 3vw, 20px);
}

.contacts {
    margin-top: 2.5em;
}

.contacts > :not(:last-child) {
    margin-bottom: 1.35em;
}

.grid {
    display: grid;
    grid-template-columns: 40% 55%;
    grid-gap: 5%;
}

.description {
    white-space: pre-wrap;
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 100%;
    }
}