@keyframes scrollDownWheel {
    0% {
        margin-top: 12px;
        opacity: 1;
    }

    100% {
        margin-top: 38px;
        opacity: 0;
    }
}

.backgroundImage {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    object-fit: cover;
}

.homeSection {
    background: linear-gradient(180deg, rgba(73, 68, 63, 0.328) 19.6%, rgba(73, 68, 63, 0.116) 100%);
    position: relative;
    z-index: 1;
    color: var(--main-color);
    height: 100vh;
}

.homeSection a {
    color: var(--main-color);
}

.homeContent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
}

.homeContent h1 {
    font-family: var(--titillium_web-font);
    font-weight: 200;
    line-height: 1.15;
    font-size: 75px;
}

.homeContent p {
    font-size: 27px;
}

.separator {
    height: 1px;
    width: 100%;
    background-color: var(--main-color);
    margin: 1.15em 0 1.25em 0;
}

.scrollDown {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    padding-bottom: inherit;
}

.scrollDown > *, .photoCredits > * {
    display: inline-block;
    vertical-align: middle;
}

.scrollDown div{
    position: relative;
    border: 3px solid var(--main-color);
    height: 50px;
    width: 30px;
    border-radius: 25px;
    margin-right: 1em;
}

.scrollDown div::before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 6px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 12px;
}

.scrollDown p {
    font-size: 22px;
}

.scrollDown:hover > div::before {
    animation: scrollDownWheel 1.5s ease-in-out infinite;
}

.photoCredits {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: inherit;
    padding-right: inherit;
}

.photoCredits p {
    font-size: 18px;
    margin-right: .5em;
}