@keyframes zoomIn {
    0% {
        transform: scale(1,1);
    }
    100% {
        transform: scale(1.02,1.02);
    }
}

@keyframes scrollDownWheel {
    0% {
        margin-top: 12px;
        opacity: 1;
    }

    100% {
        margin-top: 38px;
        opacity: 0;
    }
}

.background {
    object-fit: cover;
    animation: zoomIn 5s ease-in-out 2s forwards;
}

.overlay {
    position: relative;
    background-color: #292929a6;
    z-index: 1;
    color: #fff;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.title h1, .title h2 {
    text-align: center;
}

.scrollDown {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.scrollDown div{
    border: 1px solid #fff;
    height: 55px;
    width: 35px;
    border-radius: 25px; 
    margin: 0 auto 10px;
}

.scrollDown div::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    border-radius: 5px;
    left: 50%;
    margin-top: 12px;
    margin-left: -2px;
}

.scrollDown p {
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 100;
    letter-spacing: 1.5px;
    transition: all 100ms ease-in;
    text-align: center;
}

.scrollDown:hover > div::before {
    animation: scrollDownWheel 1.5s ease-in-out infinite;
}

.scrollDown:hover > p {
    font-weight: bold;
}

.icons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 15px;
}