.sending, .contactButton {
    display: flex;
    align-items: center;
}

.contactButton {
    flex-direction: column;
    gap: 1.5em;
}

.sending {
    font-size: 17px;
    gap: 10px;
}

.sending p {
    font-size: 17px;
}

.contactButton button {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .sending {
        order: 1;
    }
}