.form > * {
    margin-bottom: 2em;
}

.form input, .form textarea {
    width: 100%;
    background-color: #1A153A;
    border: none;
}

.form input:-webkit-autofill, .form input:-webkit-autofill:hover, .form input:-webkit-autofill:focus, .form input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #1A153A inset;
    -webkit-text-fill-color: var(--main-color);
}

.form textarea {
    resize: none;
    height: 200px;
}