.logo {
    font-family: var(--courgette-font);
    font-size: 45px;
    color: transparent;
    font-weight: 400;
}

.logo.outline {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--main-color);
}