.menu {
    padding: 2em clamp(25px, 5%, 4em);
    height: 100%;
    position: fixed;
    background-color: var(--menu-color);
    width: 100%;
    z-index: 3;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    font-family: var(--titillium_web-font);
    color: var(--main-color);
    visibility: hidden;
}

.menu.open {
    opacity: 1;
    visibility: visible;
}

.menu span {
    font-size: clamp(17px, 4vw, 25px);
}

.menuContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1.2em, 7vw, 2.5em);
}

.menuContent :not(a.active)::after {
    content: "";
    display: block;
    width: 100%;
    opacity: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: opacity 0.2s ease-in-out;
}

.menuContent a:hover::after, .menuContent a:focus::after, .menuContent a:focus-within::after {
    opacity: 1;
}

.menuContent a > * {
    display: inline-block;
}

.menuContent a > span {
    margin-right: .5em;
}

.menuContent a.active span, .menuContent a.active h1 {
    text-decoration-thickness: 2px !important;
}

.menuContent a.active span {
    text-decoration: line-through;
}

.menuContent a.active h1 {
    text-decoration: underline;
    text-underline-offset: calc(clamp(16px, 5vw, 20px) * -1);
    text-decoration-skip-ink: none;
}

.i18n {
    display: flex;
    gap: 1em;
    font-size: clamp(17px, 3vw, 25px);
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: inherit;
    padding-bottom: inherit;
}

.i18n .selected {
    font-weight: 600;
    text-decoration: underline;
}