.navbar{
    display: flex;
    flex-direction: row;
    padding: 2em clamp(25px, 5%, 4em) 0;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 4;
}

.openMenu {
    position: fixed;
}

.errorPage h1 {
    color: var(--secondary-color) !important;
}

.errorPage.openMenu h1 {
    color: var(--main-color) !important;
}

/* ------ START HamburguerMenu ------ */

.menuToggle {
    margin: 0;
    opacity: 0;
    z-index: 2;
}

.errorPage .hamburguerMenu,
.errorPage .hamburguerMenu::after,
.errorPage .hamburguerMenu::before {
    background-color: var(--secondary-color);
}

.hamburguerMenu,
.hamburguerMenu::after,
.hamburguerMenu::before,
.menuToggle {
    display: block;
    background-color: var(--main-color);
    width: 34px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    cursor: pointer;
    margin-top: -11px;
    height: 27px;
}

.hamburguerMenu::after,
.hamburguerMenu::before,
.menuToggle {
    position: absolute;
}

.hamburguerMenu,
.hamburguerMenu::after,
.hamburguerMenu::before {
    z-index: 1;
    height: 4px;
    border-radius: 3px;
    margin-top: 0;
}

.hamburguerMenu::after {
    content: '';
    margin-top: -9px;
}

.hamburguerMenu::before {
    content: '';
    margin-top: 9px;
}

.menuToggle:checked ~ .hamburguerMenu {
    background: rgba(255, 255, 255, 0);
}

.menuToggle:checked ~ .hamburguerMenu::after {
    margin-top: 0;
    transform: rotate(-45deg);
    background-color: var(--main-color);
}

.menuToggle:checked ~ .hamburguerMenu::before {
    margin-top: 0;
    transform: rotate(45deg);
    background-color: var(--main-color);
}