.projectContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    flex-flow: column;
    flex: 1;
}

.imageContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.descriptionContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.3em;
}

.description {
    text-align: justify;
    width: 85%;
}

.link {
    text-decoration: underline;
    color: #fff;
}
