.projectContainer {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: center;
    flex-flow: column;
    flex: 1;
}

.imageContainer {
    display: flex;
}

.descriptionContainer {
    display: flex;
    gap: 10px;
}

.descriptionContainer {
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.imageContainer {
    align-items: center;
}
