.square {
    width: 2em;
    height: 2em;
    border: 1px solid #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square:hover:not(.disabled), 
.square:focus-within:not(.disabled) {
    background-color: #fff;
}

.square:hover:not(.disabled) svg, 
.square:focus-within:not(.disabled) svg {
    color: #3b6277;
}

.controller {
    display: flex;
    gap: 10px;
    align-items: center;
}

.square, .disabled {
    transition: all 0.25s;
}

.square.disabled {
    cursor: not-allowed;
    border-color: #afafaf;
}

.square.disabled svg {
    color: #afafaf
}

