.section {
    padding-top: 8.375em;
    padding-bottom: 8.375em;
}

.titleContainer .title {
    font-weight: bold;
    font-size: clamp(18px, 3vw, 22px);
}

.titleContainer .description{
    margin-top: 1em;
}

