@value inputIcon from "../../components/Input.module.css";
@value separator from "../../components/Separator.module.css";

.filterMenu {
    --filter-color: #B9B0A7;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: .5em;
}

.filterMenu .inputIcon {
    order: 1;
    width: 100%;
}

.filterMenu input:-webkit-autofill, 
.filterMenu input:-webkit-autofill:hover, 
.filterMenu input:-webkit-autofill:focus, 
.filterMenu input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--blog-color) inset;
    -webkit-text-fill-color: var(--main-color);
}

.filterMenu input::placeholder, .filterMenu svg {
    color: var(--filter-color);
}

.filterButton button {
    border: none;
    color: var(--filter-color);
    padding: .6em 0 .6em 1em;
}

.article-section .separator {
    margin: 3em 0;
}

@media screen and (min-width: 768px) {
    .filterMenu {
        flex-direction: row;
        margin: 3em 0 2em;
    }

    .filterMenu .inputIcon {
        order: 0;
        width: clamp(300px, 50vw, 800px);
    }
}