:root {
  --main-color: #E1D8CF;
}

html,
body {  
  background-color: var(--main-color);
  font-family: var(--cabin-font);
  overflow-y: scroll;
  margin: 0;
}

body::-webkit-scrollbar, section::-webkit-scrollbar {
  display: none;
}

html,body,h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 1.91em;
}

p {
  font-size: 1.4em;
  line-height: 1.4;
}

a {
  text-decoration: none;
  cursor: pointer;
}

section {
  width: 100%;
  padding: 2em 4em;
}

* {
  box-sizing: border-box;
}
