* {
  box-sizing: border-box;
}

:root {
  --main-color: #E1D8CF;
  --secondary-color: #2E294E;
  --third-color: #605B56;
}

html,
body {  
  background-color: var(--main-color);
  font-family: var(--cabin-font);
  color: var(--secondary-color);
  overflow-y: scroll;
  margin: 0;
}

body::-webkit-scrollbar, section::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--titillium_web-font);
  font-weight: 200;
}

html,body,h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(2.813rem, 1.7785172rem + 4.872414vw, 4.688rem);
  line-height: 1.15;
}

h2 {
  font-size: clamp(2.25rem, 1.3333333rem + 3.333333vw, 3.215rem);
  line-height: 1.15;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--main-color);
}

section {
  width: 100%;
  padding-right: clamp(25px, 5%, 4em);
  padding-left: clamp(25px, 5%, 4em);
}

button {
  color: var(--secondary-color);
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  padding: .6em 1em;
  font-size: 1.25em;
  cursor: pointer;
  transition: all linear .2s;
  font-family: var(--cabin-font);
}

p {
  font-size: clamp(18px, 3vw, 20px);
}

#main {
  opacity: 0;
}

.globalLoader {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 1;
  transition: all linear 1s;
}

 .grecaptcha-badge { 
  visibility: hidden;
 }

 @keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* STYLES FOR MDX */

.project-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6em 0;
  margin: 0 calc(clamp(25px, 5%, 4em) * -1); 
  align-items: center;
}

.project-grid-container .project-description {
  padding: 0 clamp(25px, 5%, 4em);
}

.project-grid-container .project-description > :not(*:last-child) {
  margin-bottom: .5em;
}

.project-grid-container .project-description button {
  margin-top: 1em;
}

.mdx-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .project-grid-container {
    grid-template-columns: 1fr;
    padding: 4em 0;
  }

  .project-image {
    order: -1;
    margin-bottom: 2em;
    max-width: 700px;
  }
}
 
