* {
  box-sizing: border-box;
}

:root {
  --main-color: #E1D8CF;
  --secondary-color: #2E294E;
}

html,
body {  
  background-color: var(--main-color);
  font-family: var(--cabin-font);
  color: var(--secondary-color);
  overflow-y: scroll;
  margin: 0;
}

body::-webkit-scrollbar, section::-webkit-scrollbar {
  display: none;
}

html,body,h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--main-color);
}

section {
  width: 100%;
  padding-right: clamp(25px, 5%, 4em);
  padding-left: clamp(25px, 5%, 4em);
}

button {
  color: var(--secondary-color);
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  padding: .6em 1em;
  font-size: 1.25em;
  cursor: pointer;
  transition: all linear .2s;
  font-family: var(--cabin-font);
}

#main {
  opacity: 0;
}

.globalLoader {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 1;
  transition: all linear 1s;
}

 .grecaptcha-badge { 
  visibility: hidden;
 }

 @keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
 
